<!DOCTYPE html>
<html>
<head>
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<title>after_login</title>
	<style type="text/css">
		.background{
			background-color: pink;
		}
	.page-footer{
		position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
	}
	.button-collapse{
		color: black;
	}
	</style>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
</head>
<body>
  <nav class="blue-grey">
    <a class="white-text button-collapse show-on-large" href ="#" data-activates="slide-out"><i class="material-icons">menu</i></a>
    <ul id="slide-out" class="side-nav">
      <div class="background"></div>
        <li><div class="user-view">
             <a href="#!user"><img class="circle" src=""></a>
            <a href="#!name"><span class="black-text name">Vicky Sharma</span></a>
            <a href="#!email"><span class="black-text email">vickysharma1711@gmail.com</span></a>
        </div>
        </li>
      <li><a class="waves-effect" href="#!"><i class="material-icons">account_balance</i>Account Balance</a></li>
      <li><a class ="waves-effect" href="#!"><i class="material-icons">attach_money</i>Withdraw/Deposit</a></li>
      <li><a class="subheader">Subheader</a></li>
      <li><a class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
   
    </ul>
    
    
  </nav>
     

    
  
        
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	
   <footer class="page-footer blue-grey">
          <div class="container">
            <div class="row">
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" onclick="logout()">LOGOUT</a>
            </div>
          </div>
        </footer>


</body>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
<script type="text/javascript">
var config = {
    apiKey: "AIzaSyB9SU9h9myh6hg1cQet_5MFB7Dy9-8EPTU",
    authDomain: "safe-side-project.firebaseapp.com",
    databaseURL: "https://safe-side-project.firebaseio.com",
    projectId: "safe-side-project",
    storageBucket: "safe-side-project.appspot.com",
    messagingSenderId: "178491336655"
  };
  firebase.initializeApp(config);
    $(".button-collapse").sideNav();
    function logout() {
      firebase.auth().signOut().then(function() {
        console.log("logged out");
        document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        console.log(document.cookie);
        window.location.assign('/');
      }).catch(function(error) {
        // An error happened.
      });
    }

</script>
</html>
	